body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
  
    background: 
      linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
      url("/img/Revoluçaõind.jpg");
  
    background-size: cover;
    background-position: center;
  }
  
  /* HEADER */
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
  }
  
  nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #38bdf8;
  }
  
  /* SEÇÕES */
  section {
    padding: 40px;
    text-align: center;
  }
  
  /* TABS (INTERAÇÃO SEM JS) */
  .tabs {
    max-width: 600px;
    margin: auto;
  }
  
  .tabs input {
    display: none;
  }
  
  .tabs label {
    padding: 10px;
    cursor: pointer;
    background: #1e293b;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
  }
  
  .content {
    display: none;
    margin-top: 20px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Lógica CSS */
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3 {
    display: block;
  }
  
  /* CARDS */
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    transition: 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    background: #334155;
  }
  
  /* FOOTER */
  footer {
    background: #020617;
    padding: 15px;
  }
  